<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     <h1> Clientes </h1>
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">

  <h4 style="text-align: center;">Agregar y Modificar Productos </h4>

  
    <ion-item >
      <ion-label position="floating">Address: </ion-label>
      <ion-input #add></ion-input>
    </ion-item>

 
    <ion-item >
      <ion-label position="floating">City: </ion-label>
      <ion-input  #city></ion-input>
    </ion-item>


    <ion-item >
      <ion-label position="floating">Country: </ion-label>
      <ion-input #con></ion-input>
    </ion-item>


    <ion-item >
      <ion-label position="floating">District: </ion-label>
      <ion-input #dis></ion-input>
    </ion-item>

  
    <ion-item >
      <ion-label position="floating">First name: </ion-label>
      <ion-input #finame></ion-input>
    </ion-item>

    <ion-item >
      <ion-label position="floating">Last Name: </ion-label>
      <ion-input #laname></ion-input>
    </ion-item>

    <ion-item-group>
    <ion-item-sliding>
    <ion-label style="font-size: x-small; margin-left: 3%;">Status: </ion-label>
  </ion-item-sliding>
  
   <ion-item>
      <ion-checkbox  class="check1"></ion-checkbox><ion-label>Active</ion-label>
      <ion-checkbox  class="check2"></ion-checkbox><ion-label class="text">Inactive</ion-label>
   </ion-item>
</ion-item-group>
  

    <div style="text-align: center;">
      <button class="botton1"  mode="ios">
        Guardar
      </button>
 

        <button class="botton2"  mode="ios">
          Modificar
        </button>
    </div>
</ion-content>
