ion-content ion-toolbar {
  --background: translucent;
}
.botton1{
 margin-right: 2%;
}
.botton2{
margin-left: 2%;
}
.check1{
  margin-left: 20%;
 }
 .check2{
 margin-right: 0%;
 }
 .text{
  margin-left: 0%;
  margin-right: 20%;
 }